/* Selector {
  Property: value;
} */

body {
  background-image: url(background.jpg);
  background-size: cover;
}

h2 {
  color: red;
  text-align: center;
  border: 5px solid purple;
}

p {
  color: pink;
}

p {
  color: green;
}

li {
  list-style: none;
}