/* Selector {
  Property: value;
} */

body {
  background-image: url(background.jpg);
  background-size: cover;
}

h2, p {
  color: #AA4139;
  text-align: center;
  border: 5px solid rgb(255, 176, 170, 0.5);
  cursor: pointer;
}

p {
  color: pink;
}

p {
  color: green;
}

li {
  list-style: none;
  color: white;
  display: inline-block;
}

.webtext {
  border: 5px dashed green;
}

.active {
  color: red;
}

#div1 {
  background: blue;
}